/* 1. External Font Imports must always be at the very top */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 2. Tailwind Framework Initialization */
@import "tailwindcss";

@theme {
    --font-mulish: "Mulish", sans-serif;

    /* Colors */
    --color-primary: #7cff00;
    --color-primary-dark: #5ecc00;

    --color-background: #0f0f0f;
    --color-surface: #1a1a1a;

    --color-text-primary: #ffffff;
    --color-text-secondary: #b3b3b3;

    --color-border: #2a2a2a;
    --color-danger: #ff3b3b;
}

:root {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;


    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
